html { 
	background: url(images/background-branco.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{
	font-family: Helvetica, sans-serif;
	background-image: url(images/background-branco.png);
	background-size: cover;
	
	height: 100%;
	margin-top: 300px;
}

h2{
	font-size: 30px;
	color: #DAA520;
	text-decoration: none;
	text-shadow: 1px 1px 1px black;
}
h3 {
	font-size: 20px;
}

#formulariocadastro label,input {
	display: flex;
	width: 260px;

}

fieldset, label, input {
	display: flex;
	
}

label, input {
	font-size: 15px;
}




/*~-~-~--~-~-~-~-~-~-~-~-~ MODAL ~-~-~-~-~-~-~-~-~-~-*/

.modal{
	position: fixed;
	padding: 0;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.modal-content{
	background-color: #dfdfdf;
	padding: 16px 24px;
	width: 300px;
	border-radius: 15px;	
	border: solid;
}

form{
	display: block;
	color: #000000;
	
}



.cadastro{
	color: #080807;
	
}

form{
	align-items: center;
	justify-content: center;
    
}

.formcadastro {
	color:#000000;
}

.cadastro darkslateblue{
	color: black;
	text-decoration: none;
}

.finalizarcadastro {
	margin-top: 40px;
	color: #DAA520;
	background-color: #333333;
	border-radius: 5px;
	padding: 6px;
	cursor: pointer;
	width: 150px;
}

.finalizarcadastro darkslateblue{
	color: black;
	text-decoration: none;
}

.finalizarcadastro:hover {
	background: #108f2b;
}


.voltar {
	color: white;
	background-color: #333333;
	padding: 3px;
	border-radius: 5px;
	margin: 5px 0 0 0;
}
.voltar:hover {
	background-color: red;
	color: black;
}

form .input-block {
  margin-bottom: 20px;
}

form .input-block label {
  font-size: 14px;
  color: darkslateblue;
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #7159c1;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #7159c1;
}

form .btn-login {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #7159c1;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
}

a {
    margin: 5px 0 0 0;
	padding: 5px 10px;
	background: #333333;
	color: #ffffff;
	border: 1px  solid #000000;
	border-radius: 5px;
	cursor: pointer;
	outline: 0;
    text-decoration: none;
}

a:hover {
    background-color:  red;
    color: white;
	cursor: pointer;
	outline: 0;
}
